body{
    background-image:url(le_fond.png);
}
.centre{
    text-align: center;
}

h1.titre{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

div.contenu{
    background-color: white;
    padding-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;
}

h3.bordure1{
    margin-top: -20px;
    border: 3px solid black;
}

h3.bordure2{
    border: 3px solid black;
}

table.images th{
    font-size: 20px;
    color: blue;
}

table.images{
    margin-top: -10px;
    border: 2px solid black;
    table-layout: fixed;
    width: 100%;
}

H3.rouge{
    color: red;
}